form {
  width: 80%;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.d-none  {
  display: none;
}

.error-found {
  padding: 10px;
  background: rgb(236, 86, 86);
  color: white;
}

.custom-form {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
}

.form-group label {
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
}

.form-group input[type=text], input[type=submit]  {
  padding: 10px;
  border-radius: 5px;
  border: .5px solid rgba(138, 138, 138, 0.39);
  background-color: white;
}
.form-group input[type=text]:hover, input[type=submit]:hover  {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
}
.form-group input[type=file] {
  padding: 10px;
  background-color: white;
}
.form-group input[type=submit] {
  font-size: 18px;
}

.container-alert {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.alert {
  padding: 20px 60px;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.alert-success {
  background: rgb(55, 243, 55);
}

.alert-danger {
  background: hsl(2, 86%, 60%);
}